
@media (max-width: 540px){

  .container{
    width: 75% !important;
  }

  .display-img{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0;
  }

  .copyright{
    left: 50%;
    transform: translate(-50%);
  }

  .form-select{
    width: 100% !important;
  }

}
